@model List<OrdensServicoModel>

@{
    ViewData["Title"] = "Ordens de Serviço";
}
<head>
    <link href="~/css/site.css" rel="stylesheet" />
</head>

<h1>Ordens de Serviço</h1>

<p><a class="add-os" asp-controller="OrdensServico" asp-action="Criar">ADICIONAR OS</a></p>

<div>

    <table class="tabela-os">
        <tr class="tabela-os-cabecalho">
            <th class="tabela-os-cabecalho-item">SERVIÇO</th>
            <th class="tabela-os-cabecalho-item">EXTERNO / INTERNO</th>
            <th class="tabela-os-cabecalho-item">STATUS</th>
            <th class="tabela-os-cabecalho-item">DESCRIÇÃO</th>
            <th class="tabela-os-cabecalho-item">DATA</th>
            <th class="tabela-os-cabecalho-item">CLIENTE</th>
            <th class="tabela-os-cabecalho-item">TÉCNICO</th>
        </tr>
        <tbody class="tabela-os-body">
            @if (Model != null && Model.Any())
            {
                foreach (OrdensServicoModel os in Model)
                {
                    <tr>
                        <th>@os.TipoServico</th>
                        <th>@os.ExternoInterno</th>
                        <th class="@(os.StatusOS == "Pendente" ? "status-pendente" :
                                         os.StatusOS == "EmAndamento" ? "status-andamento" :
                                         os.StatusOS == "Finalizado" ? "status-finalizado" :
                                         os.StatusOS == "Cancelado" ? "status-cancelado" : "")">
                                         @os.StatusOS
                        </th>

                        <th>@os.DescricaoServico</th>
                        <th>@os.DataOS</th>
                        <th>@os.NomeCliente</th>
                        <th>@os.NomeTecnico</th>
                        <th><a role="button" asp-controller="OrdensServico" asp-action="Editar" asp-route-id="@os.Id">VISUALIZAR</a></th>
                    </tr>
                }
            }
        </tbody>
    </table>

</div>
